.custom-navbar {
  border: 2px solid #2009AF;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 1.05rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 0px;
}

.logo-container {
  padding: 0.4rem 0.8rem;
}

.navbar-logo {
  height: 45px;
}

.custom-nav-links .nav-link {
  color: #2009AF;
  padding: 0.75rem 1rem;
  position: relative;
  transition: color 0.3s;
}

.custom-nav-links .nav-link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: yellow;
  transition: width 0.3s;
}

.custom-nav-links .nav-link:hover::after,
.custom-nav-links .active-link::after {
  width: 100%;
}

.theme-toggle {
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.contact-us {
  color: #2009AF;
}

.dark-mode {
  background-color: #111 !important;
  color: white !important;
  border-color: white !important;
}

.dark-mode .nav-link,
.dark-mode .contact-us {
  color: white !important;
}

.dark-mode .nav-link::after {
  background-color: yellow;
}

.light-mode {
  background-color: white;
  color: #2009AF;
}

.navbar-container {
  align-items: center;
  padding: 22px;
}

.custom-switch {
  margin-right: 20px;
  border-left: 2px solid #0f19d3;
  border-right: 2px solid #0f19d3;
  padding: 20px;
}
.logo-border {
  border-right: 2px solid #0f19d3;
}